<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>All Todos</h2> <hr>
    <form action="/new">
        <Button class="tbutton">Add todo</Button>
    </form>
    <% for( let data of todos) { %>
        <div class="todo">
            <h4 class="name">Name: <%= data.name %></h4>
            <h3 class="heading">Headings: <%= data.heading %></h3>
            <p class="content"><%= data.content %></p>
            <div class="buttons">
                <form action="/<%= data.id %>/edit">
                    <button class="button">Edit todos</button> 
                </form> <br>
                <form action="/<%= data.id %>?_method=DELETE" method="post">
                    <button class="button">Delete todos</button>
                </form>

            </div>
            
        </div>
    
    <% } %>
    


    
</body>
</html>